<%- include('templates/header') %>


    <div class="relative container">
<h1>404! Page not found!</h1>
<p>Please choose a different route.</p>
<button onclick="window.history.back()">Go Back</button>
<%- include('templates/footer') %>