<%- include('templates/header'); %>
<h1>Recipe Finder</h1>
    <input type="text" id="query" placeholder="Search for recipes...">
    <button onclick="getRecipes()">Search</button>
    <div id="recipes"></div>

    <script>
        const appId = '2f8713ec';
        const appKey = '7393ce8d980bb01c8359857c74dd0f56';

        // For testing purposes, I'm going to put a small search box in my recipe display page, and use the first result to display the recipe.
        async function getRecipes() {
            const query = document.getElementById('query').value;
            const url = `https://api.edamam.com/search?app_id=${appId}&app_key=${appKey}&q=${query}&`;
            const response = await fetch(url);
            const data = await response.json();
            console.log(data.hits);
            displayRecipes(data.hits);
        }

        function displayRecipes(recipes) {
            const recipesDiv = document.getElementById('recipes');
            recipesDiv.innerHTML = '';
            recipes.forEach(hit => {
                const recipe = hit.recipe;
                const recipeDiv = document.createElement('div');
                recipeDiv.classList.add('recipe');
                
                const ingredientsList = recipe.ingredientLines.map(ingredient => `<li>${ingredient}</li>`).join('');

                recipeDiv.innerHTML = `
                    <br class="mt-3">
                    <hr style="border: 1px solid black;" class="w-100">
                    <img src="${recipe.image}" alt="${recipe.label}">
                    <h3>${recipe.label}</h3>
                    <p><a href="${recipe.url}" target="_blank">View Recipe</a></p>
                    <h4>Ingredients:</h4>
                    <ul>${ingredientsList}</ul>
                    <br class="mt-3">
                    <h3>Calories: ${recipe.calories.toFixed(2)}</h3>
                `;
                recipesDiv.appendChild(recipeDiv);
            });
        }
    </script>
<%- include('templates/footer'); %>
