<%- include('templates/header') %>
    <%- include('templates/searchBar') %>
        <div class="grid grid-cols-2 gap-4 relative px-5">
            <div class="relative" onclick="comingSoonNotification()">

                    <img src="/chinese_food.jpg" class="object-cover h-48 rounded-md" alt="chinese_food">
                    <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center rounded-md object-cover">
                        <p class="text-white text-xl text-center">Chinese Cuisine</p>
                    </div>

            </div>
            <div class="relative" onclick="comingSoonNotification()">
            
                <img src="/japanese_food.jpg" class="object-cover h-48 rounded-md" alt="chinese_food">
                <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center rounded-md object-cover">
                    <p class="text-white text-xl text-center">Japanese Cuisine</p>
                </div>
            
            </div>
            <div class="relative" onclick="comingSoonNotification()">
            
                <img src="/french_food.jpg" class="object-cover h-48 rounded-md" alt="chinese_food">
                <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center rounded-md object-cover">
                    <p class="text-white text-xl text-center">French Cuisine</p>
                </div>
            
            </div>
            <div class="relative" onclick="comingSoonNotification()">
            
                <img src="/mexican_food.jpg" class="object-cover h-48 rounded-md" alt="chinese_food">
                <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center rounded-md object-cover">
                    <p class="text-white text-xl text-center">Mexican Cuisine</p>
                </div>
            
            </div>
            
        </div>

        <%- include('templates/menuBar') %>
            <%- include('templates/footer') %>