<%- include('templates/header') %> <%- include('templates/backBtn') %>
  <div class=" flex flex-col items-center relative bg-orange-50 px-8 pt-10">
    <h2 class="title-font mb-1 text-xl font-bold text-blue-950">Feedback</h2>
    <p class="mb-5 leading-relaxed text-gray-600">
      If you've had any issues, you liked our product, or you want to provide general feelback, please feel free to share it with us!
    </p>
    <form action="/save_feedback" method="post" onsubmit="return confirmSubmission()">
      <div class="mb-4">
        <label for="name" class="font-medium text-sm leading-7 text-gray-600">Full Name*</label>
        <input type="text" id="name" name="name"
          class="w-full rounded border border-gray-300 bg-white py-1 px-3 text-base leading-8 text-gray-700 outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200" required />
      </div>
      <div class="mb-4">
        <label for="message" class="font-medium text-sm leading-7 text-gray-600">Message*</label>
        <textarea id="message" name="message"
          class="h-32 w-full resize-none rounded border border-gray-300 bg-white py-1 px-3 text-base leading-6 text-gray-700 outline-none transition-colors duration-200 ease-in-out focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200" required></textarea>
      </div>
      <div class="flex flex-col">
        <button
          class="rounded border-0 bg-orange-500 py-2 px-6 text-md text-white hover:bg-indigo-600 focus:outline-none"
          type="submit">
          Send
        </button>
      </div>
    </form>
    <p class="mt-3 text-xs text-gray-500 pt-5">We're always looking to improve ~</p>
  </div>
  <script>
    function confirmSubmission() {
      return confirm("Are you sure you want to submit your feedback?");
    }
  </script>
  <style>
    body {
      background-color: #FFF7ED;
    }
  </style>
<%- include('templates/menuBar') %>
<%- include('templates/footer')%>