<%- include('templates/header') %>
<br>
<h1>Weekly Recommendations for You!</h1>
<br>
<hr>
<br>
<div class="relative w-full flex gap-6 snap-x overflow-x-auto pb-14">
  <div class="relative snap-center shrink-0 first:pl-8 last:pr-8">
    <img
      id="1"
      class="shrink-0 w-80 h-60 rounded-lg shadow-xl bg-white"
      onclick="goToRecipe(id)"
      src="2.jpg"
      alt="Recipe Image"
    />
    <p class="absolute bottom-0 left-10 right-0 bg-75 px-4 py-5 rounded-b-lg">
      Title
    </p>
  </div>
  <div class="relative snap-center shrink-0 first:pl-8 last:pr-8">
    <img
      id="1"
      class="shrink-0 w-80 h-60 rounded-lg shadow-xl bg-white"
      onclick="goToRecipe(id)"
      src="2.jpg"
    />
    <p class="absolute bottom-0 left-10 right-0 bg-75 px-4 py-5 rounded-b-lg">
      Title
    </p>
  </div>

  <div class="relative snap-center shrink-0 first:pl-8 last:pr-8">
    <img
      id="2"
      class="shrink-0 w-80 h-60 rounded-lg shadow-xl bg-white"
      onclick="goToRecipe(id)"
      src="2.jpg"
    />
    <p class="absolute bottom-0 left-10 right-0 bg-75 px-4 py-5 rounded-b-lg">
      Title
    </p>
  </div>
  <div class="relative snap-center shrink-0 first:pl-8 last:pr-8">
    <img
      id="3"
      class="shrink-0 w-80 h-60 rounded-lg shadow-xl bg-white"
      onclick="goToRecipe(id)"
      src="3.jpg"
    />
    <p class="absolute bottom-0 left-10 right-0 bg-75 px-4 py-5 rounded-b-lg">
      Title
    </p>
  </div>
  <div class="relative snap-center shrink-0 first:pl-8 last:pr-8">
    <img
      id="4"
      class="shrink-0 w-80 h-60 rounded-lg shadow-xl bg-white"
      onclick="goToRecipe(id)"
      src="4.jpg"
    />
    <p class="absolute bottom-0 left-10 right-0 bg-75 px-4 py-5 rounded-b-lg">
      Title
    </p>
  </div>
<script>
  function goToRecipe(id) {
    window.location.href = `/recipedisplaypage/${id}`;
  }
</script>
<%- include('templates/footer') %>
