<%- include('templates/header') %>
<div>
  <div class="wrapper">
    <i class="fa-solid fa-angle-left" id="left"></i>
    <div class="carousel flex">
      <img src="2.jpg" alt="" draggable="false"/>
      <img src="3.jpg" alt="" draggable="false"/>
      <img src="4.jpg" alt="" draggable="false"/>
      <img src="2.jpg" alt="" draggable="false"/>
      <!-- <img src="4.jpg" alt="" /> -->
    </div>
    <i class="fa-solid fa-angle-right" id="right"></i>
  </div>
</div>
<script src="/script/landing_script.js"></script>
