<%- include('templates/header') %>
    <%- include('templates/searchBar') %>

        <div id="recipe-list" class="flex flex-col"></div>

        </div>
        <script>
            const appId = '2f8713ec';
            const appKey = '7393ce8d980bb01c8359857c74dd0f56';

            function beginQuery() {
                let params = new URL(window.location.href);
                query = params.searchParams.get("user_query");
                document.getElementById("search-dropdown").value = query;

                getRecipes(query);
            }

            async function getRecipes(query) {
                const url = `https://api.edamam.com/search?app_id=${appId}&app_key=${appKey}&q=${query}`;
                const response = await fetch(url);
                const data = await response.json();

                //Results are limited to 10 hits, need to find out how to get next page
                //Getting more results is important so we can filter them

                recipeList = document.getElementById('recipe-list')
                recipeList.innerHTML = ""
                data.hits.forEach(result => {
                    createRecipeCard(result.recipe);
                })
            }

            function createRecipeCard(recipe) {
                recipeCard = document.createElement('div');
                recipeCard.className = 'flex justify-center p-1'

                let tagList = ""
                let tagCount = 0;
                let tagLimit = 6; //Arbitrary, just makes so we don't have too many tags
                let lettersPerColumn = 8;

                function addTag(tagText) {
                    tagCount += 1;
                    if (tagCount > tagLimit) return;

                    let columnWidth = Math.ceil(tagText.length / lettersPerColumn);
                    tag = `
                        <p class="m-1 p-1 col-span-${columnWidth} bg-orange-500 text-sm
                        text-white font-semibold rounded-lg">${tagText}</p>
                    `;
                    tagList += tag;
                }

                addTag(recipe.cuisineType);
                recipe.mealType.forEach(tag => {
                    addTag(tag)
                });
                recipe.dishType.forEach(tag => {
                    addTag(tag)
                });

                recipeCard.innerHTML = `
                <div class="flex w-11/12 justify-center text-center bg-sky-100 p-3">
                    <div class="w-1/3 flex flex-col content-center">
                        <div>
                            <img class="" src=${recipe.image}>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center p-1 text-center w-2/3">
                        <p class="font-bold">${recipe.label}</p>
                        <div class='grid grid-cols-3 text-center'>${tagList}</div>
                    </div>
                </div>
                `

                recipeList.appendChild(recipeCard);
            }

            beginQuery();

        </script>
        <%- include('templates/menuBar') %>
            <%- include('templates/footer') %>