<%- include('templates/header'); %>
    <!-- back button -->
    <%- include('templates/backBtn'); %>


        <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <img class="mx-auto h-20 w-auto" src="/logo.svg" alt="FleshPlate Logo">
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Reset Password
                </h2>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <form class="space-y-6" action="#" method="POST">
                    <!-- email enter field -->
                    <div id="email-div">
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email
                            address</label>
                        <div class="mt-2">
                            <input id="email" name="email" type="email" autocomplete="email" required
                                class="px-4 block w-full rounded-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                    </div>

                    <!--Second half is hidden until email is selected-->
                    <div id="second_half" class="hidden">
                        <!-- security question field -->
                        <div>
                            <div class="flex items-center justify-between">
                                <label for="security_question"
                                    class="block text-sm font-medium leading-6 text-gray-900">Security question</label>
                            </div>

                            <div>
                                <p id="security_question" name="security_question"
                                    class="px-4 block w-full rounded-full border-0 py-1.5 text-cyan-950 sm:text-sm sm:leading-6">
                                </p>
                            </div>

                            <div class="mt-2">
                                <input id="security_answer" name="security_answer" type="text"
                                    autocomplete="Security Question" required
                                    class="px-4 block w-full rounded-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <!-- new password enter field -->
                        <div>
                            <div class="flex items-center justify-between">
                                <label for="password" class="block text-sm font-medium leading-6 text-gray-900">New
                                    password</label>
                            </div>
                            <div class="mt-2">
                                <input id="password" name="password" type="password" autocomplete="current-password"
                                    required
                                    class="px-4 block w-full rounded-full border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>

                        <!--Submit button-->
                        <div>
                            <br>
                            <button type="submit"
                                class="flex w-full justify-center rounded-full bg-orange-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500">Reset
                                Password</button>
                        </div>
                    </div>
                </form>

                <!--Continue button (uses email to load security question)-->
                <div id="continue_button">
                    <br>
                    <button onclick="getSecurityQuestion()"
                        class="flex w-full justify-center rounded-full bg-orange-500 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500">Continue</button>
                </div>

                <p class="mt-10 text-center text-sm text-gray-500">
                    Don't have an account?
                    <a href="/signup" class="font-semibold leading-6 text-orange-500 hover:text-indigo-500">Sign up</a>
                </p>
            </div>
        </div>

        <script>
            async function getSecurityQuestion() {
                let email = document.getElementById('email').value;

                const result = await fetch(
                    `http://${window.location.hostname}:${window.location.port}/getSecurityQuestion/${email}`
                );
                let value = await result.json(result);

                //This is not a good approach, but it probably isn't worth it to reset all current acounts
                //just to store the actual question
                let securityQuestion = null;
                if (value == 'Favourite food')
                    securityQuestion = 'What is your favourite food?';
                else if (value == 'First pet')
                    securityQuestion = 'What was the name of your first pet?';
                else if (value == 'Mother maiden name')
                    securityQuestion = 'What is your mother\'s maiden name ?';

                if (securityQuestion) {
                    document.getElementById('email-div').classList = 'hidden';
                    document.getElementById('continue_button').classList = 'hidden';
                    document.getElementById('second_half').classList = '';



                    document.getElementById('security_question').innerText = securityQuestion;
                }
                else {
                    window.alert('Email not found!')
                };
            }
        </script>