<div class="fixed inline-flex items-center justify-center shadow-md bg-white items-center rounded-full m-4 px-2 py-2 text-gray-400 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 absolute top-1 right-1 h-8 w-8"
    onclick="favoritesToggle('favorite<%= index %>', this)">
    <i class="fas fa-heart icon text-red-500 text-lg"></i>
</div>