<div class="bg-white w-full fixed z-10">
  <div class="container px-3 py-5">
    <form class="max-w-lg mx-auto" action="recipe_search_page" method="get">
      <div class="flex my-3">
        <img src="logo.svg" alt="FreshPlate Logo" id="easter-egg-logo" class="h-10 mx-2" />
        <div class="relative w-full">
          <input type="search" id="search-dropdown" name="user_query"
            class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-full border-s-gray-50 border-s-2 border border-gray-300"
            placeholder="Search Recipes, Ingredients..." required />
          <button type="submit"
            class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-indigo-50 rounded-e-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="20" height="20"
              viewBox="0 0 24 24" stroke-width="2.5" stroke="#172554" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
              <path d="M21 21l-6 -6" />
            </svg>
            <span class="sr-only">Search</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="h-28"></div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const logo = document.getElementById("easter-egg-logo");
  const logos = ['logo1.svg', 'logo2.svg', 'logo3.svg', 'logo4.svg'];
  let clickCount = 0;
  logo.addEventListener("click", function () {
    if (clickCount < logos.length) {
      logo.src = logos[clickCount];
      clickCount++;
    } else {
      clickCount = 0;
      logo.src = logos[0]; 
      clickCount++;
    }
    
  });
});
</script>